# Ignore compiled binaries
*.class
*.o

# Ignore log files
*.log

# Ignore Node.js modules
node_modules/

# Ignore sensitive configuration files
config/secrets.env

# Ignore temporary files created by macOS
.DS_Store

# Re-include a specific file within an ignored directory
!node_modules/important_script.js